In [114]:
import pandas as pd
import os, glob
from sklearn.model_selection import GroupKFold
import shutil
from tqdm import tqdm
import yaml

NameError: name 'i' is not defined

In [11]:
folders = glob.glob(r"C:\yolo\cowc-m-everything\cowc-m\datasets\DetectionPatches_256x256\DetectionPatches_256x256\*")

In [42]:
imagens = []
labels = []
for folder in folders:
    for i in glob.glob(folder + "\*.txt"):
        temp = os.path.dirname( i ) + '\\'+ os.path.splitext( os.path.basename( i ) ) [0] + ".jpg" 
        if not os.path.exists(temp) :
            raise Exception("deu pau")
        imagens.append( temp )
        labels.append( i  )

<>:4: SyntaxWarning: invalid escape sequence '\*'
<>:4: SyntaxWarning: invalid escape sequence '\*'
C:\Users\Bruno\AppData\Local\Temp\ipykernel_14492\2973741802.py:4: SyntaxWarning: invalid escape sequence '\*'
  for i in glob.glob(folder + "\*.txt"):

In [51]:
df = pd.DataFrame( data = {'image_id': imagens, "labels": labels } )

In [80]:
label_total

,cls,a,b,c,d,path
0,1,0.316406,0.597656,0.125,0.125,C:\yolo\cowc-m-everything\cowc-m\datasets\Dete...
1,1,0.367188,0.839844,0.125,0.125,C:\yolo\cowc-m-everything\cowc-m\datasets\Dete...
2,3,0.453125,0.839844,0.125,0.125,C:\yolo\cowc-m-everything\cowc-m\datasets\Dete...
3,3,0.468750,0.500000,0.125,0.125,C:\yolo\cowc-m-everything\cowc-m\datasets\Dete...
4,3,0.453125,0.339844,0.125,0.125,C:\yolo\cowc-m-everything\cowc-m\datasets\Dete...
...,...,...,...,...,...,...
6714,3,0.296875,0.476562,0.125,0.125,C:\yolo\cowc-m-everything\cowc-m\datasets\Dete...
6715,1,0.093750,0.222656,0.125,0.125,C:\yolo\cowc-m-everything\cowc-m\datasets\Dete...
6716,1,0.242188,0.578125,0.125,0.125,C:\yolo\cowc-m-everything\cowc-m\datasets\Dete...
6717,1,0.128906,0.746094,0.125,0.125,C:\yolo\cowc-m-everything\cowc-m\datasets\Dete...
6718,1,0.195312,0.636719,0.125,0.125,C:\yolo\cowc-m-everything\cowc-m\datasets\Dete...

In [81]:
label_total = pd.DataFrame()
for i, row in df.iterrows():
    label = pd.read_csv( row.labels , sep = " ", names = ['cls','a' , 'b', 'c', 'd'])
    
    label['path'] =  row.labels
    
    label_total = pd.concat( [label_total, label ] , ignore_index=True )
    print(i, "\\", df.shape[0], end= "\r")

In [87]:
for i in label_total.cls.unique().tolist():
    print( label_total[ label_total.cls == i ].iloc[0] )

cls                                                     1
a                                                0.316406
b                                                0.597656
c                                                   0.125
d                                                   0.125
path    C:\yolo\cowc-m-everything\cowc-m\datasets\Dete...
Name: 0, dtype: object
cls                                                     3
a                                                0.453125
b                                                0.839844
c                                                   0.125
d                                                   0.125
path    C:\yolo\cowc-m-everything\cowc-m\datasets\Dete...
Name: 2, dtype: object
cls                                                     2
a                                                0.597656
b                                                0.699219
c                                                   0.125
d                                                   0.125
path    C:\yolo\cowc-m-everything\cowc-m\datasets\Dete...
Name: 22, dtype: object
cls                                                     4
a                                                0.703125
b                                                0.996094
c                                                   0.125
d                                                   0.125
path    C:\yolo\cowc-m-everything\cowc-m\datasets\Dete...
Name: 48, dtype: object

In [ ]:
gkf  = GroupKFold(n_splits = 5)
df['fold'] = -1
for fold, (train_idx, val_idx) in enumerate(gkf.split(df, groups = df.image_id.tolist())):
    df.loc[val_idx, 'fold'] = fold
val_df = df[df['fold']==4]
val_df.head()

In [55]:
!git clone https://github.com/ultralytics/yolov5.git

Cloning into 'yolov5'...

In [88]:
df

,image_id,labels,fold
0,C:\yolo\cowc-m-everything\cowc-m\datasets\Dete...,C:\yolo\cowc-m-everything\cowc-m\datasets\Dete...,3
1,C:\yolo\cowc-m-everything\cowc-m\datasets\Dete...,C:\yolo\cowc-m-everything\cowc-m\datasets\Dete...,4
2,C:\yolo\cowc-m-everything\cowc-m\datasets\Dete...,C:\yolo\cowc-m-everything\cowc-m\datasets\Dete...,0
3,C:\yolo\cowc-m-everything\cowc-m\datasets\Dete...,C:\yolo\cowc-m-everything\cowc-m\datasets\Dete...,1
4,C:\yolo\cowc-m-everything\cowc-m\datasets\Dete...,C:\yolo\cowc-m-everything\cowc-m\datasets\Dete...,2
...,...,...,...
29544,C:\yolo\cowc-m-everything\cowc-m\datasets\Dete...,C:\yolo\cowc-m-everything\cowc-m\datasets\Dete...,1
29545,C:\yolo\cowc-m-everything\cowc-m\datasets\Dete...,C:\yolo\cowc-m-everything\cowc-m\datasets\Dete...,2
29546,C:\yolo\cowc-m-everything\cowc-m\datasets\Dete...,C:\yolo\cowc-m-everything\cowc-m\datasets\Dete...,3
29547,C:\yolo\cowc-m-everything\cowc-m\datasets\Dete...,C:\yolo\cowc-m-everything\cowc-m\datasets\Dete...,0
29548,C:\yolo\cowc-m-everything\cowc-m\datasets\Dete...,C:\yolo\cowc-m-everything\cowc-m\datasets\Dete...,0

In [109]:
def create_folder(df, labels_path, images_path):
    for index, row in tqdm(df.iterrows(), total=len(df)):
        shutil.copy( row.image_id , os.path.join( images_path, os.path.basename( row.image_id )  ) )
        shutil.copy( row.labels ,  os.path.join( labels_path, os.path.basename( row.labels )  ) )

In [110]:
create_folder( df, r"C:\Users\Bruno\yolo bruno\dataset\train\labels", r"C:\Users\Bruno\yolo bruno\dataset\train\images" )

create_folder( val_df, r"C:\Users\Bruno\yolo bruno\dataset\validation\labels", r"C:\Users\Bruno\yolo bruno\dataset\validation\images" )

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 29549/29549 [03:41<00:00, 133.67it/s]

NameError: name 'df_val' is not defined

In [142]:
%cd ../

C:\Users\Bruno\yolo bruno

In [143]:
classes = [ 'car1', 'car2', 'car3', 'car4', 'car5' ]

data = dict(
    train =   r"C:\Users\Bruno\yolo bruno\dataset\train",
    val   =  r"C:\Users\Bruno\yolo bruno\dataset\validation",
    nc    = 5,
    names = classes
    )

with open('./yolo_bruno.yaml', 'w') as outfile:
    yaml.dump(data, outfile, default_flow_style=False)
    
f = open('./yolo_bruno.yaml', 'r')
print('\nyaml:')
print(f.read())

yaml:
names:
- car1
- car2
- car3
- car4
- car5
nc: 5
train: C:\Users\Bruno\yolo bruno\dataset\train
val: C:\Users\Bruno\yolo bruno\dataset\validation

In [144]:
%cd ./yolov5

C:\Users\Bruno\yolo bruno\yolov5

In [ ]:
!pip install -r requirements.txt

In [145]:
!python train.py --img 512 --batch 8 --epochs 100 --data "C:\Users\Bruno\yolo bruno\yolo_bruno.yaml" --cfg "C:\Users\Bruno\yolo bruno\models\yolov5x.yaml" --weights "C:\Users\Bruno\yolo bruno\models\yolov5x.pt" --cache --name vin